$overlay-color: rgba(255, 255, 255, 0.7);
$shadow-color: rgba(0, 0, 0, 0.2);

.descriptionSection {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  color: #fff;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 0.9;
  text-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);

  @media (max-width: 1240px) {
    font-size: 2rem;
  }
}

.artist {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 3px;
  text-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.limitText {
  max-width: 55rem;
  text-align: justify;
}

.icons {
  display: flex;
  gap: 1.5rem;
  text-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  a:hover {
    color: #111;
  }
}

.backIcon {
  text-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-bottom: 8px;
  padding-top: 12px;
  padding-left: 1px;

  svg:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.img {
  border-radius: 15px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.shine {
  @media (min-width: 1221px) {
    position: relative;
    overflow: hidden;
    height: 98%;
    border-radius: 15px;

    &::before {
      background: linear-gradient(
        to right,
        fade_out(#fff, 1) 0%,
        fade_out(#fff, 0.7) 100%
      );
      content: '';
      display: block;
      height: 100%;
      left: -75%;
      position: absolute;
      top: 0;
      transform: skewX(-25deg);
      width: 50%;
      z-index: 2;
    }

    &:hover,
    &:focus {
      &::before {
        animation: shine 1.2s;
      }
    }

    @keyframes shine {
      100% {
        left: 125%;
      }
    }
  }
}
