.descriptionSection {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  color: #fff;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.limitText {
  max-width: 55rem;
  text-align: justify;
}

.icons {
  display: flex;
  gap: 1.5rem;
  a:hover {
    color: #9ef300;
  }
}
