.socialCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: white;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  gap: 20px;
}
